* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.menu {
    padding: 32px 0;
    display: flex;
    justify-content: flex-end;
}

.basket-list {
    display: none;
}

.cart-button {
    background-color: green;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cart-button:hover {
    background-color: brown;
}

.goods-list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.goods-item {
    border: 1px solid green;
    border-radius: 2px;
    padding: 5px;
}

.goods-item img {
    display: block;
    width: 100%;
}
